* {
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;   
}

header {
    background-image: url(../images/header-bg.jpg);
    height: 780px;    
}

.header-container {
    padding-top: 19px;
    padding-left: 120px;
    padding-right: 120px; 
}

.header-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 19px; */
    /* padding-left: 120px;
    padding-right: 120px;     */
    height: 60px;
}

.header-logo, .footer-logo {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 32px;    
    text-transform: uppercase;
    display: flex;
    align-items: center;    
    width: 240px;
    justify-content: space-between;
}

.header-logo__img, .footer-logo__img{
    width: 68px;
    height: 58px;
    /* margin-right: 15px; */
}

.header-logo__text, .footer-logo__text{
    width: 155px;
    height: 60px;
    display: flex;
    align-items: center;
}

.header-menu {    
    list-style-type: none;
    color: #F7F7F7;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
}

.header-menu li {
    display: inline;
}

.header-menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

ul.header-menu li + li {
    margin-left: 60px;
}

.header-menu__search {
    color: #fff;
}

.header-menu__btn-signin a {
    font-family: 'Roboto', sans-serif;
    padding: 6px 23px ;
    border: 2px solid #CD6326;
    border-radius: 5px;
}

.header-title {
    margin-top: 120px;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    line-height: 72px;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    color: #CD6326;
}

.header-title__text {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 27px;
    color: #F7F7F7;
    width: 274px;
    margin-top: 51px;
    margin-bottom: 49px;
}

.header-btn{
    /* margin-top: 49px; */
    /* height: 60px;
    width: 160px; */
    /* background-color: #CD6326; */
    /* border-radius: 5px; */
    position: relative;
}

.header-btn__donate {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    width: 160px;
    color: #F7F7F7;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    line-height: 27px;
    text-decoration: none;
    background-color: #CD6326;
    border-radius: 5px;
}

.articles-container {
    background-color: #cccccc;
    height: 1368px;
    padding-top: 120px;
}

.article-title {
    color: #333333;
    font-size: 48px;
    line-height: 72px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.article-text {
    padding-top: 20px;
    text-align: center;
    color: #666666;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Open Sans', sans-serif;
}

.article-slider {
    padding-top: 120px;
    padding-left: 122px;
    padding-right: 122px;
    display: flex;
    justify-content: space-between;
}

.slider__arrow-left,
.slider__arrow-right
{
    display: flex;
    align-items: center;
    
}

.slider__arrow-left img,
.slider__arrow-right img {
    cursor: pointer;
}

.article-slider .slider {
    display: flex;
    justify-content: space-between;
    width: 1020px;
    align-items: center;
    height: 360px;
}

.article-slider__item {
    height: 360px;
}

.article-slider__item-text {
    margin-top: -113px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.article-slider__item-text h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: #F7F7F7;
    margin-bottom: 10px;
    line-height: 36px;
}

.article-slider__item-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #F7F7F7;
    line-height: 27px;
}

.notification {
    margin-top: 239px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 59px;
}

.notification__subscribe {
    height: 60px;
    width: 660px;
    display: flex;
    flex-direction: row;
}

.notification__subscribe-container-email {
    border: 1px solid #666666;
    width: 540px;
    height: 60px;
    padding-left: 15px;
}

.notification__subscribe-container-email input {
    height: 60px;
    width: 510px;
    border: none;
    background-color: transparent;
    font-size: 23px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    color: #666666;
}

.notification__subscribe-container-email input:focus{
    outline: none;
}

.notification__subscribe button {
    width: 120px;
    height: 60px;
    color: #F7F7F7;
    font-size: 23px;
    line-height: 27px;
    background-color: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 0 5px 5px 0;
}

.notification__subscribe button:hover {
    cursor: pointer;
}

.footer {
    background-image: url(../images/footer-bg.jpg);
    height: 360px;    
}

.footer-container {
    width: 1200px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.footer-line {
    width: 1200px;
    height: 360px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-pages-link {
    width: 480px;
    display: flex;
    justify-content: space-between;    
}

.footer-pages-link a {
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.footer-socialnetwork-link {
    width: 240px;
    display: flex;
    justify-content: space-between;    
}